@import "tailwindcss";

.avatar_circle {
    /*  width: 44px;  */
    /* height: 44px;   */
    padding: 4px 12px 4px 12px;
    background-color: #000000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    /* You can adjust the text color */
    font-size: 18px;
    /* Adjust the font size of the letter "T" */
    font-weight: 600;
    /* You can adjust the font weight if needed */
    transition: background-color 0.1s ease, outline 0.1s ease;
    outline: 10px solid rgb(229, 231, 235);
}