<div id="avatar_<%= instance.id %>">
    <% if instance.avatar.attached? %>
    <div class="w-12 h-12 flex justify-center items-center rounded-full overflow-hidden">
      <%= image_tag instance.avatar, class: "w-12 h-12 rounded-full object-cover" %>
    </div>
    <% else %>
      <div class="w-12 h-12 rounded-full bg-gray-300 flex items-center justify-center">
        <span class="text-gray-600 font-bold"><%= instance.name.first.upcase %></span>
      </div>
    <% end %>
</div>
