<div class="px-2 py-3 w-full text-center  flex justify-center items-center h-100">
    <% if current_user %>
    <div>
        <%= link_to user_contacts_path(current_user), class: "text-gray-900 py-2 px-5 py-3 text-center mb-2 hover:text-emerald-500 focus:outline-none focus:ring-2 focus:ring-blue-500" do %>
        <i class="fa-solid fa-shield-cat fa-2xl text-violet-500 hover:text-emerald-400" style="width:150px; height:150px"></i><br>
        <div class="py-2 my-2">Start Chatting</div>
        <% end %><br>

        <div>
            <%= button_to "Logout", destroy_user_session_path, method: :delete, class:"py-3" %>
            <%= link_to "Edit User", edit_user_registration_path, class:"py-3" %>
        </div>
    </div>
    <% else %>
    <%= link_to new_user_session_path, class: "text-gray-900 py-2 px-5 py-3 text-center mb-2 hover:text-emerald-500 focus:outline-none focus:ring-2 focus:ring-blue-500" do %>
    <i class="fa-solid fa-shield-cat fa-2xl text-violet-500 hover:text-emerald-400" style="width:150px; height:150px"></i><br>
    <div class="py-2 my-2">Start Chatting</div>
    <% end %><br>
    <% end %>
</div>
