/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 .avatar_circle {
     /*  width: 44px;  */
     /* height: 44px;   */
     padding: 4px 12px 4px 12px;
     background-color: #000000;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     color: white;
     /* You can adjust the text color */
     font-size: 18px;
     /* Adjust the font size of the letter "T" */
     font-weight: 600;
     /* You can adjust the font weight if needed */
     transition: background-color 0.1s ease, outline 0.1s ease;
     outline: 10px solid rgb(229, 231, 235);
 }

 .avatar_navbar_circle {
     padding: 4px 12px 4px 12px;
     background-color: #a66cfe;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     color: rgb(31 41 55);
     /* You can adjust the text color */
     font-size: 18px;
     /* Adjust the font size of the letter "T" */
     font-weight: 600;
     /* You can adjust the font weight if needed */
     transition: background-color 0.1s ease, outline 0.1s ease;
 }

 /* Alert styles */

 .alert-danger {
    background-color: rgb(233, 0, 0);
 }
 
 .alert-alert {
    background-color: rgb(99, 99, 99);
 }

 .alert-notice, .alert-success {
    background-color: rgb(0, 182, 106);
 }

 /* SCROLLBARS*/
 /* width */
 ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    scrollbar-width: thin;
    background-color: rgba(48, 48, 48, 0.452);
    /* or add it to the track */
    overflow-y: auto !important;
 }

 /* Track */
 ::-webkit-scrollbar-track {
    background: #2f04ed;
 }

 /* Handle */
 ::-webkit-scrollbar-thumb {
    background: rgba(46, 107, 38, 0.178);
    border-radius: 6px;
 }

 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
    background: rgba(136, 136, 136, 0.514);
 }

 /* Firefox scrollbar styling */
 * {
    scrollbar-width: thin;
    scrollbar-color: rgba(215, 224, 218, 0.433) rgba(246, 244, 244, 0.099);
    /* You can adjust these colors */
 }


 *::-moz-scrollbar {
    width: 10px;
 }

 *::-moz-scrollbar-thumb {
    background-color: rgb(17, 17, 17);
    /* You can adjust this color */
 }

 *::-moz-scrollbar-track {
    background-color: rgb(236, 5, 5);
    /* You can adjust this color */
 }